<!DOCTYPE html>
<html lang="en">
    <head>

        {% load static %}

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Proyecto</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'productos/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">Base de datos</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'productos' %}">Productos</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'personas' %}">Personas</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'ciudades' %}">Ciudades</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Formularios</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'formulario_productos' %}">Formulario de productos</a></li>
                                <li><a class="dropdown-item" href="{% url 'formulario_personas' %}">PFormulario de personas</a></li>
                                <li><a class="dropdown-item" href="{% url 'formulario_ciudades' %}">Formulario de ciudades</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div>
                    </div>
                </div>
            </div>
        </nav>
        <br>
        <br>
        <!-- Header-->
        <h1 style="text-align: center;">Creacion de datos</h1>
        <h6 style="text-align: center;"> Para ver los datos creados ir a sus respectivos nombres en el menu de navegacion ...</h6>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <hr>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    
                    <!-- traer block de el formulario_productos -->
                    {% block crear_productos %}
                    {% endblock crear_productos %}
                    <!-- traer block de el formulario_personas -->
                    {% block crear_personas %}
                    {% endblock crear_personas %}
                    <!-- traer block de el formulario_ciudades -->
                    {% block crear_ciudades %}
                    {% endblock crear_ciudades %}
                     
                </div>
                <hr>
            </div>
        </section>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Andres Suarez 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'productos/js/scripts.js' %}"></script>
    </body>
</html>