{% extends 'productos/base_formularios.html' %}

{% block crear_productos %}

    <form method="post">{% csrf_token %}
        <p>Nombre del producto</p>
        <input type="text" name="nombre">
        <p>Ingrese la marca</p>
        <input type="text" name="marca">
        <p>Ingrese la precio</p>
        <input type="number" name="precio">
        <p>Ingrese la fecha vencimiento</p>
        <input type="date" name="fecha_vencimiento">
        <p>Ingrese la stock</p>
        <input type="number" name="stock">

        <input type="submit" value="Crear">
    </form>

{% endblock crear_productos %}
